/* CSS file for styling the main website */

@font-face {
    font-family: avenirNext;
    src: url(avenir-next-regular.woff);
}

html, body {
    font-family: avenirNext;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#main {
    min-height:100%;
    margin: 0 auto;
    padding: 35px 15vw 150px;
    text-align:left;
    transition: ease 1s;
}

.section {
    margin-bottom:50px;
}

h1 {
    text-align:center;
    transition: ease 1s;
}

a {
    transition: ease .5s;
}

#menu {
    width:100%;
    height:35px;
    background-color: #444;
    border-bottom: 1px solid #000;
    color: #fff;
    line-height: 36px;
    position:fixed;
    z-index: 999;
    text-align: left;
    padding: 0vh 15vw;
    font-size: 14px;
    transition: ease 1s;
}

#menu a {
    color: white;
    margin-right:20px;
    text-decoration: none;
}

#menu a:hover {
    color: lightgray;
}

#footer {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    padding:10px 15vw;
    height:100px;
    z-index:1;
    text-align: left;
    background-color: #fafafa;
    border-top: 1px #f1f1f1 solid;
    transition: ease 1s;
    color: rgb(145, 145, 145);
}

#footer h4 {
    margin: 0;
    margin-top:5px;
}

#footer h5 {
    font-weight: normal;
    margin: 5px 0px 15px 0px;
}

#footer p {
    margin: 6px 0px;
    font-size:14px;
}

#footer a {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}