/* CSS file for styling the visualizations */

div#happinessFactorsContainer {
	width: 100%;
	height: 450px;
	margin-bottom: -80px;
}

div#happinessFactors {
	width: 200px;
	margin-top: 110px;
	position: absolute;
	transform-origin: top;
	transform: rotate(-270deg);
}

#happinessFactors svg .y .tick text {
	transform: translate(-10px, -16px) rotate(270deg);
}

#happinessFactors svg .x .tick text {
	text-anchor: end !important;
	transform: translate(-14px, 12px) rotate(270deg);
}

.dc-legend-item:hover {
	text-decoration: underline;
}

div#happinessAndSuicideContainer {
	width: 100%;
	height: 600px;
}

div#happinessAndSuicide {
	position: absolute;
}

div#happinessChangesContainer {
	width: 60vw;
	height: 80vh;
}

div#happinessChanges {
	position: absolute;
}

div#countryResidualsContainer {
	width: 80vw;
	height: 70vh;
}

div#countryResiduals {
	position: absolute;
}

div#regionResidualsContainer {
	width: 85vw;
	height: 70vh;
}

div#regionResiduals {
	position: absolute;
}

.hidden {
	display: none;
}

#happinessChangesTooltip {
  position: absolute;
  background: rgba(0,0,0,.75);
  color: white;
  padding: .5em .75em;
  font-size: 1em;
  display: none;
  z-index: 450;
	opacity: 0.8;
}

.clickable-text {
	color: #0E8373;
	font-style: italic;
	cursor: pointer;
}

.map-text {
	margin-top: 15px;
	max-height: 200px;
	overflow-y: auto;
}
